/* Genel container */
.frame {
    width: 70%;
    margin: auto;
    padding: 20px;
}

/* İçerik düzeni */
.content {
    display: flex;
    align-items: flex-start; /* Kartlar alt satıra geçince yukarı hizalansın */
    gap: 20px;
}

.memberEpisode {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Esnek kolon yapısı */
    gap: 20px; /* Kartlar arasındaki boşluk */
    width: 100%;
    margin: 0 auto; /* Ortalayalım */
}