.container {
    width: 100%;
    height: 60px;
    background-color: #e72a7f;
    border: none;
}

.frame {
    width: 70%;
    margin: auto;
    display: flex;
}

.logoEpisode {
    cursor: pointer;
}

.content {
    margin-left: auto;
    display: flex;
}

.cubuk {
    width: 1px;
    height: 60px;
    background-color: white;
}