.container {
    width: 100%;
    margin-top: 25px;
}

.frame {
    width: 70%;
    margin: auto;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Esnek kolon yapısı */
    gap: 20px; /* Kartlar arasındaki boşluk */
    width: 100%;
    max-width: 1200px; /* Maksimum genişlik */
    margin: 0 auto; /* Ortalayalım */
    align-items: flex-start; /* Kartlar alt satıra geçince yukarı hizalansın */
  }