.container {
  width: 100%;
  margin-top: 25px;
}

.frame {
  width: 70%;
  margin: auto; /* Ortalamak için */
  display: flex;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Esnek kolon yapısı */
  gap: 10px; /* Kartlar arasındaki boşluk */
  width: 100%;
  padding-left: 20px;
}

.filterEpisode {
  display: block;
  max-width: 300px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12), 0 4px 10px rgba(0, 0, 0, 0.06);
  padding: 16px;
  background-color: #fff;
  box-sizing: border-box; /* Padding hesaplaması için */
}

.filterButtonEpisode {
  display: flex;
  margin-bottom: 10px;
}

.inputLineEpisode {
  width: 100%;
  padding: 5px;
}

.inputLineEpisode label {
  font-size: 13px;
  color: #444;
  display: block;
  margin-bottom: 4px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 4px solid #f3f3f3; /* Dış renk */
  border-top: 4px solid #3498db; /* Üst renk */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  margin-top: 20px;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@media (max-width: 992px) {
  .content {
      grid-template-columns: repeat(2, 1fr); /* Tablet */
  }
}

@media (max-width: 600px) {
  .content {
      grid-template-columns: 1fr; /* Mobil */
  }
}
