/* RegisterPage.module.css */

.container {
  width: 100%;
  height: 100vh;
  background-image: url('../../../utils//imgs/header-bg.jpg'); /* Resminizi buraya ekleyin */
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.frame {
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
}

.header {
  display: flex;
  padding-top: 2%;
}

.logoEpisode { 
}

.loginEpisode {
    margin-left: auto;
}

.loginButton {
    width: 120px;
    background-color: transparent;
    border: 1px solid white;
    padding: 12px;
    border-radius: 8px;
    color: white;
}

.loginButton:hover {
  background-color: white;
  color: black;
}

.contentEpisode {
  width: 100%;
  display: flex;
  margin-top: 3%;
}

.leftContentEpisode {
  width: 50%;
}

.rightContentEpisode {
  width: 50%;
  text-align: right;
  margin-top: 20px;
}

.formContainer {
  width: 100%;
}

.formGroup {
  margin-bottom: 20px;
}

.formGroup label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.formGroup input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.submitButton {
  width: 100%;
  padding: 16px;
  background-color: #218838;
  border: 2px solid white;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.submitButton:hover {
  background-color: #86C695;
}

.spinner {
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  border-top: 2px solid #999;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
  display: inline-block;
}

.sectionRoute {
  display: flex;
  justify-content: flex-end;
}

.sectionRouteOne {
    width: 20px;
    height: 20px;
    color: white;
    text-align: center;
    background-color: transparent;
    border-radius: 100px;
    border: 1px solid white;
    cursor: pointer;
}

.sectionRouteOne:hover {
  width: 20px;
  height: 20px;
  color: black;
  text-align: center;
  background-color: white;
  border-radius: 100px;
  border: 1px solid white;
}

.sectionRouteTwo {
    width: 20px;
    height: 20px;
    color: white;
    text-align: center;
    background-color: transparent;
    border-radius: 100px;
    border: 1px solid white;
    cursor: pointer;
}

.sectionRouteTwo:hover {
    width: 20px;
    height: 20px;
    color: black;
    text-align: center;
    background-color: white;
    border-radius: 100px;
    border: 1px solid white;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}