.container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 12px;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
}

.menu {
    display: flex;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}

.menu label {
    font-size: 13px;
    color: #505050;
    font-weight: 400;
    padding-top: 3px;
    padding-right: 15px;
    padding-left: 15px;
    cursor: pointer;
}

.cızgı {
    width: 2px;
    height: 20px;
    background-color: #eee;
}

.socialContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

